body{
	background-color: #5D9B9B;
}
header{
	width: 100%;

	background-color: lightgoldenrodyellow;
    border-radius: 100px;

}

a, u {
  text-decoration: none;
}

.add_pr{
    color: red;
    text-align: center;
}

.title{
	font-size: 36px;

	padding-top: 10px;
	text-align: center;
	background: blanchedalmond;

    border-radius: 100px;

	display: flex;
	justify-content: center;

}

.menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-left: auto;
    margin-right: auto;


    min-width: 200px;
	max-width: 500px;

	min-height: 40px;


	padding: 10px;

}

.menu a:hover{
	font-size: 30px;
}

.page_link{
	font-size: 26px;
}

.hellow{
	background-color:  #FF8C69;
}

.article{
	font-size: 23px;
}

.product-wrapper {
	display: block;
	transition: width .2s;
	width: 25%;
    margin-bottom: 50px;
}

.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #ff6633;
	z-index: 0;
	height: 300px;
}

.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 10px;
}

.product-photo {
	position: relative;
	overflow: hidden;
}

.product-photo img {

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 50%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}

.card {
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Размещаем элементы в колонку */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
  position: relative;
  overflow: hidden; /* Скрываем, что выходит за пределы */
}

/* Контейнер для картинки */
.card__image {
  display: block;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card__image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card__label {
  padding: 4px 8px;

  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #b5e9a7;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #FF8C69;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: darkred;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color:  black;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color:  black;
}

.card__title:hover {
  color:  black;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: black;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #FBD7D2;
  color: antiquewhite;
}

.tovar{
    display: flex;
}

ul.products.clearfix {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
}

/* Drop down menu */

.wrapper-dropdown-2 {
    /* Размер и позиционирование */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px 15px;

}

