{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
	<div class="wrapper">
		<header class="header">

			<div class = "title"><p>Guu shop</p></div>
			<nav class="navigation">
				<ul class="menu">
					<li class="page"><a href="/" class="page_link">Main</a></li>
					<li class="page"><a href="{% url 'shop' %}" class="page_link">Shop</a></li>
                    <li>
                        <div id="dd" class="wrapper-dropdown-2 ddinc">
                        <ul class="dropdown">
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else  %}
                                Login/Registration
                                <li><a href="{% url 'login' %}"><em></em>Login</a></li>
                                <li><a href="{% url 'register' %}"><em></em>Registration</a></li>
                            {% endif %}

                            <li><a href="{% url 'logout' %}"><em></em>Logout</a></li>
                        </ul>
                        </div>
                    </li>

				</ul>
			</nav>

		</header>

        <!-- ##################################### -->

        {% block container %}

        {% endblock container %}

        <!-- ##################################### -->

	</div>

</body>
</html>

